<p id="notice"><%= notice %></p>

<p>
  <strong>Proudctname:</strong>
  <%= @product.proudctname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Photo:</strong><br />
  <% if @product.has_photo? %>
    <%= image_tag @product.photo_path, size:'250x250' %>
  <% else %>
    No photo.
  <% end %>
</p>



<%= link_to 'Edit', @product, class: 'edit' %>
<br>
<br> 
<%= link_to 'Back', products_path, class: 'back'%>