<p id="notice"><%= notice %></p>

<p>
  <strong>Saledate:</strong>
  <%= @sale.saledate %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @sale.saleprice %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
