<div id="header" >
<table>
	<tr>
     <td>
	   <table id="searchbar">
	     <tr>
			<td id="search-login"><%= image_tag 'weed-coffee-logo.png', :size => "100x100"%> </td>
            <td><h1></h1>
			<td align="right">
		<%= form_tag :controller => 'home', :action => 'search' do %>
			<p>Search: <%= text_field_tag 'searchinput' %> </p>
		<% end %>
		</td>

			<td id ="search-login">
						<% if session[:user_id].nil? %>
					       <%= link_to "New Customer?", new_person_path, id: 'search-login' %>
					       <%= button_to 'Login', login_path, :method => :get %>
				        <% else %>
					        Hello <%= Person.find(session[:user_id]).lastname %> !
					        <%= button_to 'Logout', logout_path, :method => :delete %>
				        <% end %>
			</td>
	     </tr>
	   </table>

</td></tr>
<tr>
	<td>
	<table id= "navbar">
		<tr>
			<td><%= link_to_unless_current "Home", home_index_path %>	</td>
			<td><%= link_to_unless_current "About", home_about_path %> </td>
			<td><%= link_to_unless_current "Contact", home_contact_path %></td>
			<td><%= link_to_unless_current "Products", products_path %> </td>
			<td><%= link_to_unless_current "Customers", people_path %> </td>
			<td><%= link_to_unless_current "Reviews", reviews_path %> </td>
			<td><%= link_to_unless_current "Sales", sales_path %> </td>

		</tr>
	</table>
	</td>
</tr>
</table>
</div>
